.o-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 -$gutter;
    @include medium-up{
        flex-direction: row;
    }
    @include large-up{
        flex-direction: row;
    }
    &--center-y{
        align-items: center;
    }
    &--center-x{
      justify-content: center;
  }
}
